body{
	background-color: #1B2431;
	width: 85%;
	margin: auto;
	font-family: sans-serif;
	color:#8EACC5;
	line-height: 1.5;
	letter-spacing: 1.1px;
}

p{
	margin: 0px;
}

h1,h2{
	font-family: monospace;
	color: #ffffff;
}

h3-h6{
	font-family: monospace;
	color: #A9C7DF;
}

hr{
	margin: 5px;
	padding: 5px;
	border: 5px #313D4F;
	border-style: solid none none;
}

input{
	color: white;
	padding: 8px 15px;
	border: solid #313D4F 1px;
	border-radius: 5px;
	background-color: #273142;
}

input:hover{
	border-color: #A9C7DF;
}

input:focus{
	border-color: #0093EE;
}

input:invalid{
	border-color: #E0102B;
}

textarea{
	resize: none;
	color: white;
	padding: 8px 15px;
	border: solid #313D4F 1px;
	border-radius: 5px;
	background-color: #273142;
}

textarea:hover{
	border-color: #A9C7DF;
}

textarea:focus{
	border-color: #0093EE;
}

input[type=submit]{
	background-color: #0093EE;
	color: #ffffff;
	padding: 10px 20px;
}

input[type=submit]:hover{
	background-color: #11A3FF;
}

footer{
	text-align: center;
	padding-bottom: 30px; 
}